* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.navigition{
		background:#c0c0c0 ;
		width:100%;
		border: 1px solid grey;
		padding: 10px ;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
aside {
	background:#c0c0c0 ;
	float: left;
	width: 20%;
	border: 1px solid grey;
	padding: 10px;
	min-height: 500px;
}

section {
	float: left;
	width: 80%;
	border: 1px solid grey;
	padding: 10px;
	min-height: 500px;
}